/* public/style.css */
:root {
    --unavailable: #cedccd;
    --theme: #80c27a;
    --theme-hover: #73a770;
    --border-color: #e0e0e0;
    --background-color: #ffffff;
    --border-width: 0.125em;
    --button-hover-duration: 0.3s;
    --conversations-width: 28.12dvw;
    --chat-header-height: 3.25em;
    --chat-footer-height: 5em;
    --file-info-height: 3em;
    --default-border-radius: 0.35em;
    --settings-categories-width: 30%;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: #4d4d4d;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

* {
    scrollbar-color: var(--theme) transparent;
    box-sizing: border-box;
}

image {
    height: 100%;
}

button {
    z-index: 999;
    background-color: var(--theme);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.3125em;
    /*transition: background-color var(--button-hover-duration) ease-in-out;*/
}

button:hover {
    background-color: var(--theme-hover);
    cursor: pointer;
}

.btn-round {
    height: 2em;
    width: 2em;
    margin: 0.3em;
    border-radius: 50%;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3125em;
}

.btn-rect {
    height: 2em;
    margin-right: 0.625em;
    border-radius: 50em;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25em;
}

input,
textarea {
    margin: 0.3em;
    width: 18.75em;
    font-size: 1em;
    padding: 0.625em 0.9375em;
    border: none;
    background-color: #f1f1f1;
    color: #000000;
    border-radius: 6.25em;
    display: flex;
    outline: none;
    align-items: center;
}

input {
    height: 3.125em;
}

textarea {
    border-radius: 50px;
    overflow: hidden;
    height: 10em;
    resize: none;
}

input:focus,
textarea:focus {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

input::placeholder,
textarea::placeholder {
    font-style: italic;
}

input[type="text"]:focus {
    outline: none;
}

h1 {
    color: var(--theme);
}

h2 {
    margin: 5px;
}

h3 {
    margin: 5px;
}

h4 {
    font-weight: normal;
    margin: 0;
}

a {
    color: var(--theme);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.fake-link {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
}

.fake-link:hover {
    color: #0056b3;
    text-decoration-color: #0056b3;
}

.loading-container {
    width: 100dvw;
    height: 100dvh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99999;
    background-color: #ffffff;
    transition: opacity 0.5s linear;
}

.loader {
    width: 10em;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--theme);
    border-radius: 50%;
    background: conic-gradient(var(--theme) 0deg 90deg,
            var(--theme-hover) 90deg 360deg);
    transition: opacity 0.3s ease;
    animation: loader-rotate 2s linear infinite;
}

.loader img {
    position: absolute;
    width: 85%;
    height: 85%;
    border-radius: 50%;
    animation: loader-counter-rotate 2s linear infinite;
}

.loading-container.disconnected .loader {
    background: conic-gradient(#a77070 0deg 90deg,
            #c27a7a 90deg 360deg);
}

.loading-container.disconnected #loading-message {
    transition: transform 0.5s cubic-bezier(0.19, 0.73, 0.26, 1);
    color: #c27a7a;
}

#loading-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 3em));
    transition: color 0.3s ease
}

.loader::after {
    content: "";
    width: 75%;
    height: 75%;
    border-radius: 50%;
    background-color: var(--theme);
    transition: background-color 0.3s ease
}

.loading-container.disconnected .loader::after {
    background-color: #c27a7a;;
}

.tooltip {
    position: absolute;
    box-sizing: content-box;
    font-size: 0.8rem;
    width: fit-content;
    min-width: 4.5rem;
    max-width: 10rem;
    flex-wrap: nowrap;
    pointer-events: none;
    height: auto;
    font-weight: 600;
    background-color: var(--theme);
    opacity: 0;
    visibility: hidden;
    color: #000000;
    text-align: center;
    border-radius: 0.25rem;
    padding: 0.5rem 0.5rem;
    z-index: 999999;
    display: flex;
    justify-content: center;
    transition: opacity 0s ease;
    white-space: normal;
    --triangle-top: 99%;
    --triangle-bottom: none;
    --triangle-left: none;
    --triangle-right: none;
    --triangle-border-top-col: var(--theme);
    --triangle-border-bottom-col: transparent;
    --triangle-translateY: 0;
    --triangle-rotation: 0deg;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: var(--triangle-top);
    bottom: var(--triangle-bottom);
    left: var(--triangle-left);
    right: var(--triangle-right);
    transform-origin: center;
    transform: translateX(var(--triangle-translateY));
    rotate: var(--triangle-rotation);
    width: 0;
    height: 0;
    border-left: 0.625em solid transparent;
    border-right: 0.625em solid transparent;
    border-top: 0.625em solid var(--triangle-border-top-col);
    border-bottom: 0.625em solid var(--triangle-border-bottom-col);
}

.account-details {
    width: 100%;
    padding: 1em 1.75em;
    line-height: 1.5;
    text-align: left;
    background-color: #f1f1f1;
    border-radius: var(--default-border-radius);
    margin-bottom: 1em;
    display: none;
}

.overlay {
    position: absolute;
    display: none;
    width: 100dvw;
    height: 100dvh;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1000;
}

#open-conversations {
    margin: 0.5em;
}

#close-conversations {
    margin: 0.5em;
    position: absolute;
    right: 0;
    top: 0;
}

.conversation-chevron {
    margin: 0.35em;
    font-size: 1.3em;
}

#settings-overlay {
    z-index: 1000;
}

.settings-panel {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    border-radius: var(--default-border-radius);
    overflow: hidden;
    background-color: #f6f6f6;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    transition: top 0.3s ease-in-out;
    font-size: 1rem;
    z-index: 1000;
}

.settings-panel.open {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#open-settings-categories {
    position: absolute;
    left: 0;
    width: 2em;
    height: 2em;
    font-size: 0.75em;
    margin-left: 0.75em;
}

#open-settings-content {
    position: absolute;
    right: 0;
    width: 2em;
    height: 2em;
    font-size: 0.75em;
    margin-right: 0.75em;
}

.settings-header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 70%;
    border-top-right-radius: var(--default-border-radius);
    transform: translateY(-0.1px);
    background-color: #ededed;
    user-select: none;
}

.settings-categories {
    position: absolute;
    left: 0;
    bottom: 0;
    width: var(--settings-categories-width);
    height: 100%;
    padding: 0.25em;
    border-top-left-radius: var(--default-border-radius);
    border-bottom-left-radius: var(--default-border-radius);
    scroll-padding-top: 20px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

@media (orientation: portrait) {
    .settings-categories {
        width: 100%;
    }

    .settings-header {
        width: 100%;
    }
}

.category {
    width: 95%;
    padding: 0.75em;
    border-radius: var(--default-border-radius);
    margin-bottom: 0.25em;
    border-bottom: var(--border-width) solid var(--border-color);
    background-color: #e8e8e800;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.category:hover {
    background-color: #ececec;
    cursor: pointer;
}

.category.selected {
    background-color: #dddddd;
}

.settings-body {
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc(100% - var(--settings-categories-width));
    padding: 0.75em;
    border-bottom-right-radius: var(--default-border-radius);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.username-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.username-select {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-popup-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    top: 0;
    border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
    width: 100%;
    height: 2em;
    background-color: var(--theme);
    color: #ffffff;
}

.sub-popup-panel {
    padding: 1em 2em;
    border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);
    width: 23em;
    height: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
}

.sub-popup {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--default-border-radius);
    width: 23em;
    height: 12em;
    display: none;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: opacity 0.2s ease-in-out;
    z-index: 99999;
}

.sub-popup.open {
    display: flex;
}

.confirm {
    margin-top: 1em;
    display: flex;
}

#confirm-delete-account {
    width: 10em;
}

.username-buttons {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.input-username-identifier {
    width: 6.5em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-username {
    width: 8em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.current-account {
    width: 100%;
    padding: 0.5em;
    background-color: var(--theme);
    color: #ffffff;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

#confirm-delete-account-btn,
#delete-account {
    background-color: #d74d4d;
}

#delete-account {
    display: none;
    margin: 0;
}

#confirm-delete-account-btn:hover,
#delete-account:hover {
    background-color: #b13939;
}

#confirm-delete-account-btn.unavailable {
    background-color: #dccdcd;
}

#confirm-delete-account-btn.unavailable:hover {
    background-color: #dccdcd;
}

#chat-header {
    display: flex;
    height: 3em;
    border-bottom: var(--border-width) solid var(--border-color);
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

#chat-area {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100dvw - var(--conversations-width));
    height: 100dvh;
    text-align: center;
    margin: 0;
    padding: 0;
}

.scroll-shadow {
    display: none;
    position: fixed;
    background-image: linear-gradient(180deg, #00000025, transparent);
    right: 0;
    top: 0;
    height: 3em;
}

#chat-shadow {
    right: 0;
    width: calc(100dvw - var(--conversations-width));
}

#conversation-shadow {
    left: 0;
    width: var(--conversations-width);
}

#settings-body-shadow {
    top: 0;
    right: 0;
    width: 70%;
}

#settings-category-shadow {
    top: 0;
    left: 0;
    width: 30%;
}

.settings-content {
    position: relative;
    background-color: #ffffff;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 5px solid #ffffff;
    padding: 1em;
    padding-top: none;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
}

.input-account-username,
.input-account-password,
.input-account-confirm-password {
    width: 100%;
    min-width: 10em;
    padding: 1em 1em 1em 1.25em;
    margin: 10px 0;
}

.account-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submit-options {
    display: flex;
    align-items: center;
}

#chat-footer {
    position: fixed;
    width: 100%;
    height: calc(var(--chat-footer-height) + var(--file-info-height));
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-top: var(--border-width) solid var(--border-color);
}

.scroll-bottom {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: auto;
    border-radius: 10em;
    padding: 1em 1.2em;
    gap: 5px;
    font-size: 1rem;
    background-color: #ffffff;
    transform: translateY(-50px);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.scroll-bottom:hover {
    cursor: pointer !important;
    animation: newMessages 2s infinite;
}

.scroll-bottom p {
    margin-left: 0.25em;
}

#attached-files {
    display: flex;
    height: 90%;
}

#file-preview {
    margin: 0 0.5em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#file-preview:not(:has(.unsupported-file)) {
    border: 1px solid var(--border-color);
}

.file-preview-container {
    position: relative;
    display: flex;
}

.file-preview-information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unsupported-file {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0.875em;
    margin: 0 0.5em;
    background-color: #93a692;
}

.upload-progress {
    width: 100%;
    height: 0.4em;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #e0e0e0;
    overflow: hidden;
}

.upload-progress-fill {
    height: 100%;
    width: 0%;
    background: var(--theme);
    transition: width 0.2s ease;
}

#remove-file {
    position: absolute;
    font-size: 0.5rem;
    right: 0;
    top: 0;
    width: 1em;
    height: 1em;
    margin: 0.2em;
    padding: 1.25em;
    border-radius: 100em;
    background-color: #a8a8a8;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    overflow: hidden;
    transform: translateY(-1em);
}

.chat-functions {
    width: 100%;
}

.chat {
    display: flex;
    align-items: center;
    justify-content: left;
    height: var(--chat-footer-height);
    padding: 2px;
    width: 100%;
    overflow-x: auto;
}

.chat-functions #file-information {
    display: flex;
    align-items: center;
    border-bottom: var(--border-width) solid var(--border-color);
    background-color: var(--background-color);
    height: var(--file-info-height);
    width: calc(100dvw - var(--conversations-width));
    overflow-x: auto;
    padding: 0.3em;
}

.container,
.input-group-container {
    display: flex;
    position: relative;
    align-items: center;
}

.chat .container,
.chat .input-group-container {
    position: unset;
}

.input-btn {
    margin-right: 0.75em;
}

#chat-options {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#chat-message-input {
    font-size: 0.9rem;
    padding: 0.625em 1.5em;
    padding-right: 3.125em;
    width: calc(43.75em + ((100dvw - var(--conversations-width)) - 50em - 6.875em));
    height: 3.125em;
}

#attach-file {
    height: 2.15em;
    width: 2.15em;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#send-message {
    position: absolute;
    right: 0;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateX(-45px);
}

.unavailable {
    background-color: var(--unavailable);
    cursor: default !important;
}

.available {
    background-color: var(--theme);
    cursor: pointer;
}

#chat-conversations {
    width: var(--conversations-width);
    height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    border-right: var(--border-width) solid var(--border-color);
    font-size: 1em;
}

#chat-conversations.active {
    opacity: 1;
    display: block;
}

#chat-conversations.innactive {
    opacity: 0;
    display: none;
}

#chat-conversations-header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: var(--border-width) solid var(--border-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 0.9rem;
}

#add-conversation-error {
    color: #ff0000;
    margin: 0.25em;
    font-size: 0.8rem;
}

#user-id-input {
    font-size: 0.8rem;
    padding: 0.625em 1.5em;
    padding-right: 3.125em;
    width: calc(var(--conversations-width) - 3.125em);
    height: 2.5em;
}

#add-user {
    position: absolute;
    font-size: 0.8rem;
    width: 1.5625em;
    height: 1.5625em;
    right: 0;
}

.conversation,
.conversation-selected {
    padding: 0.25em 0.5em;
    border-radius: var(--default-border-radius);
    margin-bottom: 0.25em;
    text-align: left;
    border-bottom: var(--border-width) solid var(--border-color);
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
    align-items: center;
}

.conversation-selected {
    background-color: #e1e1e1;
}

#emoji-button {
    height: 2.15em;
    width: 2.15em;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#files {
    display: flex;
    flex-direction: column;
    margin: 0.125em 0;
}

#open-file {
    display: flex;
    flex-direction: column;
    padding: 0.875em;
    max-width: 18.75em;
    max-height: 18.75em;
    min-width: 100px;
    min-height: 1.875em;
    border-radius: 0.625em;
    margin-bottom: 0.125em;
    background-color: #93a692;
    text-decoration: none;
    outline: white;
    justify-content: center;
}

.file-name {
    font-size: 0.875rem;
    color: #ffffff;
}

.message-container.from-me .file-name {
    margin-left: 2em;
}

.message-container.from-me #files {
    align-items: end;
}

.message-container.from-others #files {
    align-items: start;
}

.message-container.from-others .file-name {
    margin-right: 2em;
}

.file-size {
    font-size: 0.675rem;
    color: #dddddd;
}

#files img {
    max-width: 18.75em;
    max-height: 18.75em;
    height: auto;
    width: auto;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 0.625em;
}

#files video {
    max-width: 18.75em;
    max-height: 18.75em;
    height: auto;
    width: auto;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 0.625em;
}

#emoji-menu {
    display: none;
    position: absolute;
    top: 2.5em;
    left: 0;
    background-color: var(--background-color);
    border: 0.0625em solid #cccccc;
    border-radius: 0.3125em;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
    padding: 0.625em;
    max-height: 16.25em;
    width: 20.625em;
    z-index: 9999;
}

#emoji-picker {
    overflow-y: scroll;
    max-height: 12.5em;
    background-color: #f1f1f1;
    border-radius: 0.3125em;
    padding: 0.3125em;
    padding-right: 0;
}

.menus {
    margin: 0px 0.625em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.625em;
}

.tab {
    width: 1.875em;
    height: 1.875em;
    color: #000000;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    border-radius: 0.3125em;
    font-size: 0.875rem;
}

.tab.selected {
    background-color: #dddddd;
}

.tab-content {
    display: none;
}

.emoji-option {
    display: inline-block;
    line-height: 130%;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.3125em;
    margin: 0;
}

.emoji-option:hover {
    background-color: #dddddd;
    border-radius: 0.3125em;
}

#emoji-picker.active {
    display: block;
}

#chat-body {
    text-align: left;
    width: 100%;
    height: calc(100dvh - var(--chat-footer-height) - var(--file-info-height) - var(--chat-header-height));
    padding: 0.625em;
    overflow-y: scroll;
    background: #f5f5f5;
    opacity: 1;
    display: block;
    position: absolute;
    right: 0;
}

.message {
    padding: 0.375em 0.625em;
    position: relative;
    border-radius: 1.25em;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(250, 243, 243, 0.1);
    max-width: 80%;
    display: inline-block;
    word-wrap: break-word;
    font-size: var(--message-font-size, var(--default-font-size));
    text-align: center;
}

.message span {
    user-select: text;
}

.timestamp {
    font-size: 0.75rem;
    margin-right: 5px;
    margin-top: 5px;
    color: #7a7a7a;
}

.timestamp.new-day {
    margin: 0.8em 0;
    font-weight: bold;
    text-align: center;
}

.sender-status.online {
    color: #26c528;
}

.sender-status.offline {
    color: #c52626;
}

.sender {
    position: relative;
    flex-wrap: wrap;
    font-size: 0.75rem;
    color: #6a6a6a;
}

.timestamp,
.sender,
#scroll-bottom-new,
.conversation,
.conversation-selected,
#emoji-menu {
    cursor: default;
    user-select: none;
}

#conversation-parent {
    position: relative;
    padding: 0.25em;
    overflow-y: scroll;
}

.message-container.from-me {
    text-align: right;
}

.message-container.from-me .message {
    background: #d1e7d0;
}

.message-container.from-others {
    text-align: left;
}

.message-container.from-others .message {
    background: #dedede;
    display: inline-block;
}

.conversation:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

#open-file:hover {
    cursor: pointer;
}

#open-file:hover .file-name {
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-underline-offset: 1px;
    text-decoration-thickness: 1px;
}

.tab:hover {
    background-color: #dddddd;
}

.unavailable:hover {
    background-color: var(--unavailable);
}

#remove-file:hover {
    background-color: #8c8c8c;
}

button:hover .tooltip {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.4s;
}

/* Animations */

@keyframes newMessages {
    0% {
        transform: translateY(-50px);
    }

    40% {
        transform: translateY(-50px);
    }

    45% {
        transform: translateY(-47px);
    }

    57% {
        transform: translateY(-53px);
    }

    65% {
        transform: translateY(-47px);
    }

    70% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(-50px);
    }
}

@keyframes loader-rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


@keyframes loader-counter-rotate {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
